<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JavaResort</display-name>
	<welcome-file-list>
		<welcome-file>welcomepage.html</welcome-file>
	</welcome-file-list>

	<!-- Front controller -->
	<servlet>
		<servlet-name>frontServlet</servlet-name>
		<servlet-class>com.dj.frontcontroller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>frontServlet</servlet-name>
		<url-pattern>/frontCon</url-pattern>
	</servlet-mapping>

	<!-- RegistrationServlet -->
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>com.dj.controllers.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/registrationSer</url-pattern>
	</servlet-mapping>

	<!-- login_servlet -->
	<servlet>
		<servlet-name>login_servlet</servlet-name>
		<servlet-class>com.dj.controllers.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login_servlet</servlet-name>
		<url-pattern>/loginSer</url-pattern>
	</servlet-mapping>
	
	<!-- Home_Servlet -->
	<servlet>
		<servlet-name>home_serv</servlet-name>
		<servlet-class>com.dj.controllers.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>home_serv</servlet-name>
		<url-pattern>/home_ser</url-pattern>
	</servlet-mapping>

	<!-- course_servlet -->
	<servlet>
		<servlet-name>course_serv</servlet-name>
		<servlet-class>com.dj.controllers.CourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>course_serv</servlet-name>
		<url-pattern>/course_ser</url-pattern>
	</servlet-mapping>

	<!-- contactUs_servlet -->
	<servlet>
		<servlet-name>contact_serv</servlet-name>
		<servlet-class>com.dj.controllers.ContactUsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contact_serv</servlet-name>
		<url-pattern>/contact_ser</url-pattern>
	</servlet-mapping>
</web-app>